group: travis_latest
dist: bionic
language: python
cache: pip
python:
  #- 2.7
  #- 3.5
  #- 3.6
  - 3.7
matrix:
  allow_failures:
    - python: 2.7
    - python: nightly
    - python: pypy
    - python: pypy3
env:
  - REPO=PX4/avoidance                # 2019-10-02
  - REPO=PX4/bearcart                 # 2015-03-22 wrobstory/bearcart
  - REPO=wrobstory/bearcart
  - REPO=PX4/Bootloader               # 2019-10-01
  - REPO=PX4/containers               # 2019-10-02
  - REPO=PX4/ecl                      # 2019-10-02
  - REPO=PX4/eigen                    # 2019-09-21
  - REPO=PX4/Firmware                 # 2019-10-03
  - REPO=PX4/flight_review            # 2019-09-24
  - REPO=PX4/Flow                     # 2019-09-22
  - REPO=PX4/fw-test-harness          # 2015-12-03 thomasgubler/fw-test-harness
  - REPO=thomasgubler/fw-test-harness
  - REPO=PX4/gencpp                   # 2019-02-09 ros/gencpp
  - REPO=ros/gencpp
  - REPO=PX4/genmsg                   # 2019-02-09 ros/genmsg
  - REPO=ros/genmsg
  - REPO=PX4/HIL                      # 2019-09-23
  - REPO=PX4/jsbsim                   # 2015-06-22 tridge/jsbsim
  - REPO=tridge/jsbsim
  - REPO=PX4/libcxx                   # 2019-09-24 llvm-mirror/libcxx
  - REPO=llvm-mirror/libcxx
  - REPO=PX4/Matrix                   # 2019-10-03
  - REPO=PX4/mavlink-router           # 2018-10-16 intel/mavlink-router
  - REPO=intel/mavlink-router
  - REPO=PX4/NuttX                    # 2019-10-03
  - REPO=PX4/NuttX-NxWidgets          # archived
  - REPO=PX4/NuttX-tools              # 2019-03-17
  - REPO=PX4/px4_ros_com              # 2019-09-24
  - REPO=PX4/pyulog                   # 2019-06-24
  - REPO=PX4/sapog                    # 2019-10-03
  - REPO=PX4/sitl_gazebo              # 2019-10-01 LorenzMeier/sitl_gazebo
  - REPO=LorenzMeier/sitl_gazebo
  - REPO=PX4/snap_cam                 # 2018-10-11
  - REPO=PX4/uavcan                   # 2019-08-28 UAVCAN/libuavcan
  - REPO=UAVCAN/libuavcan

install:
  #- pip install -r requirements.txt
  - pip install flake8  # pytest  # add other testing frameworks later
before_script:
  - URL=https://github.com/${REPO}
  - echo ; echo -n "flake8 testing of ${URL} on " ; python -V
  - git clone --depth=50 ${URL} ~/${REPO}  # --branch=master
  - cd ~/${REPO}
script:
  - echo stop the build if there are Python syntax errors or undefined names
  - echo ; echo -n "flake8 testing of ${URL} on " ; python -V
  - time flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
  - echo exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide
  - time flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  #- true  # pytest --capture=sys
notifications:
  on_success: change
  on_failure: change  # `always` will be the setting once code changes slow down
