language: python
env:
    - REPO=volatilityfoundation/volatility
    - REPO=AlessandroZ/LaZagne
    - REPO=n1nj4sec/pupy
    - REPO=endgameinc/gym-malware
    - REPO=zsdonghao/tensorlayer
    - REPO=PlasmaPy/PlasmaPy 
    - REPO=Seanld/Latte
    - REPO=juanjux/client-python
    - REPO=erocarrera/pefile
    - REPO= vbuterin/pybitcointools
    - REPO=xoreaxeaxeax/sandsifter
    - REPO=neozhaoliang/pywonderland
    - REPO=zerosum0x0/koadic
    - REPO=bugcrowdlabs/HUNT
    - REPO=tensorflow/models
    - REPO=fendouai/FaceRank
    - REPO=persepolisdm/persepolis
    - REPO=pallets/flask
    - REPO=HelloZeroNet/ZeroNet
    - REPO=scikit-learn/scikit-learn
    - REPO=huwwp/cryptop
    - REPO=brightmart/text_classification
    - REPO=alexellis/docker-blinkt-workshop
    - REPO=josephmisiti/awesome-machine-learning
    - REPO=monoxgas/sRDI
python:
    - 2.7.13
    - 3.6.2
install:
    - pip install flake8  # pytest  # add other testing frameworks later
before_script:
    - URL=https://github.com/${REPO}
    - echo ; echo -n "flake8 testing of ${URL} on " ; python -V
    - git clone --depth=50 --branch=master ${URL} ~/${REPO}
    - cd ~/${REPO}
script:
    - echo stop the build if there are Python syntax errors or undefined names
    - echo ; echo -n "flake8 testing of ${URL} on " ; python -V
    - time flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
    - echo exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide
    - time flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
notifications:
    on_success: change
    on_failure: change  # `always` will be the setting once code changes slow down
