sudo: required
group: travis_latest
language: python
env:
    - REPO=apachecn/LeetCode
cache: pip
python:
    #- 2.7
    - 3.6
    #- nightly
    #- pypy
    #- pypy3
matrix:
    allow_failures:
        - python: nightly
        - python: pypy
        - python: pypy3
#addons:
#   apt:
#       packages:
#           - python-pip
install:
    #- pip install -r requirements.txt
    - sudo python2 -m pip install flake8
    - pip install flake8 future  # pytest  # add other testing frameworks later
before_script:
    - URL=https://github.com/${REPO}
    - URL=https://github.com/Upgrade-to-Python3/LeetCode
    - echo ; echo -n "flake8 testing of ${URL} on " ; python -V
    - git clone --depth=50 ${URL} ~/${REPO}  # --branch=master
    - cd ~/${REPO}
script:
    - echo stop the build if there are Python 2 syntax errors or undefined names
    - echo ; echo -n "flake8 testing of ${URL} on " ; python2 -V
    # - python2 -m flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
    - git remote add upstream https://github.com/${REPO}
    - git checkout -b modernize-python2-code
    - futurize --stage1 -w .
    - git commit --all -m "Modernize Python 2 code to get ready for Python 3"
    - git push --set-upstream origin modernize-python2-code
    - echo ; echo -n "flake8 testing of ${URL} on " ; python -V
    - flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics
notifications:
    on_success: change
    on_failure: change  # `always` will be the setting once code changes slow down
