# Python CircleCI configuration file
#
# https://circleci.com/docs/language-python/
# https://circleci.com/features/python
#
version: 2.1
jobs:
  build:
    docker:
      # Specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: cimg/python:3.13-browsers

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: cimg/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pyproject.toml" }}
            # Fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python -m pip install --upgrade pip
            pipx install pre-commit ruff
            python3 -m venv venv
            . venv/bin/activate
            pip install pytest  # -r pyproject.toml
          #  python3 -m venv venv
          #  . venv/bin/activate
          #  pip install --upgrade pip
          #  pip install pre-commit pytest ruff  # -r pyproject.toml

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "pyproject.toml" }}

      # run tests!
      # https://docs.astral.sh/ruff
      # - run:
          # command: ruff check
          # name: ruff
          # command: |
          #  . venv/bin/activate
          #  python -m ruff check

      # https://pre-commit.com
      - run:
          command: pre-commit run --all-files
          # command: |
          #  . venv/bin/activate
          #  pre-commit run --all-files

      # run tests!
      # https://pytest.org
      - run:
          name: pytest
          command: |
            . venv/bin/activate
            python -m pytest

      - store_artifacts:
          path: test-reports
          destination: test-reports
