name: deadsnakes_python_3_12-dev
on: [workflow_dispatch]  # push, pull_request, 
jobs:
  deadsnakes_python_3_12-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: deadsnakes/action@v2.1.1
        with:
          python-version: 3.12-dev
      - run: python3 -vv
      - run: python -vv || true
