# A GitHub Action to demonstrate pip install on Python 3.14t.
# https://github.com/Googulator/pypiwin32 --> https://pypi.org/project/pypiwin32

# % `uvx --with=module python3.14t -c "import module"`

name: free-threading
on:
  workflow_dispatch:
    inputs:
      pypi_package:
        description: 'PyPI package to test'
        required: true
jobs:
  free-threading:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.14, 3.14t]
    runs-on: ${{ matrix.os }}
    steps:
      # Approach two: The terse way: % `uvx --with=module python3.14t -c "import module"`
      - name: "${{ github.event.inputs.pypi_package }} on python${{ matrix.python-version }}"
        uses: astral-sh/setup-uv@v7
        with:
          ignore-empty-workdir: true
      # Hyphen to underscore
      - if: github.event.inputs.pypi_package == 'clickhouse-connect'
        run: uvx --with=${{ github.event.inputs.pypi_package }} python${{ matrix.python-version }} -c "import clickhouse_connect"
      - if: github.event.inputs.pypi_package == 'scikit-learn'
        run: uvx --with=${{ github.event.inputs.pypi_package }} python${{ matrix.python-version }} -c "import sklearn"
      - if: github.event.inputs.pypi_package == 'MacFSEvents'
        run: uvx --with=${{ github.event.inputs.pypi_package }} python${{ matrix.python-version }} -c "import fsevents"
      - if: github.event.inputs.pypi_package != 'clickhouse-connect' && github.event.inputs.pypi_package != 'scikit-learn'
        run: uvx --with=${{ github.event.inputs.pypi_package }} python${{ matrix.python-version }} -c "import ${{ github.event.inputs.pypi_package }}"
