name: itinerant_swiftlint_on_demand
on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repo to test (user_name/repo_name)'
        required: true

jobs:
  swiftlint_help:
    runs-on: macos-latest
    steps:
      - run: swiftlint help
      - run: swiftlint help lint

  itinerant_swiftlint_on_demand:
    name: "${{ github.event.inputs.repo }}"
    runs-on: macos-latest
    steps:
      - run: echo "Testing ${{ github.event.inputs.repo }}..."
      - uses: actions/checkout@v3
        with:
          repository: ${{ github.event.inputs.repo }}
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: cat .swiftlint.yml || true
      - run: mv .swiftlint.yml .swiftlint.yml.disabled || true      
      - run: swiftlint --fix --quiet && git diff
      - run: swiftlint --quiet | tee swiftlint.out.txt
      - name: Failing SwiftLint rules
        shell: python
        run: |
          with open("swiftlint.out.txt") as in_file:
              errors = set(line.rsplit("(")[-1][:-2] for line in in_file if line.strip().endswith(")"))
          print(f"{len(errors) = }\ndisabled_rules:")
          print("  - " + "\n  - ".join(sorted(errors)))
