# Source repository: https://github.com/actions/dependency-review-action
# Public documentation: https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review#dependency-review-enforcement
name: itinerant_dependency_review
on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repo to test (user_name/repo_name)'
        required: true

jobs:
  dependency_review:
    name: "${{ github.event.inputs.repo }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ${{ github.event.inputs.repo }}
      - run: |
          git rm requirement*.txt || true
          git rm pyproject.toml || true
          git diff
          git status
          git commit -a
          git diff
          git status
      - uses: actions/dependency-review-action@v3
        with:
          # base-ref: ${{ github.ref }}
          # base-ref: ${{ github.event.base_ref }}
          # base-ref: ${{ github.event.before }}
          # head-ref: main
          # head-ref: ${{ github.event.head_ref }}
          # head-ref: ${{ github.event.after }}
          # head-ref: ${{ github.event.before }}
          base-ref: ${{github.ref}}~1
          head-ref: ${{github.ref}}
