name: itinerant_cython_lint_on_demand
on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repo to test (user_name/repo_name)'
        required: true
jobs:
  itinerant_cython_lint_on_demand:
    name: "${{ github.event.inputs.repo }}"
    runs-on: ubuntu-latest
    steps:
      - run: echo "Testing ${{ github.event.inputs.repo }}..."
      - uses: actions/checkout@v5
        with:
          repository: ${{ github.event.inputs.repo }}
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install cython-lint  # https://pypi.org/project/com2ann
      - run: cython-lint --version || true
      - run: cython-lint --help
      - run: shopt -s globstar && cython-lint **/*.pyi  # Are .pyi files ignored?
      - run: shopt -s globstar && cython-lint --max-line-length=120 --no-pycodestyle **/*.py[ix] || true
      - run: shopt -s globstar && cython-lint --max-line-length=120 **/*.py[ix]
