name: itinerant_shellcheck
on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repo to test (user_name/repo_name)'
        required: true
jobs:
  itinerant_shellcheck:
    name: "${{ github.event.inputs.repo }}"
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - run: shellcheck --version  # v0.8.0, not v0.9.0
      - run: shellcheck --help
      - run: brew install shellcheck
      - run: shellcheck --version  # v0.8.0, not v0.9.0
      - run: shellcheck --help      
      - run: echo "Testing ${{ github.event.inputs.repo }}..."
      # - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.repo }}
      - run: ls -Fla
      - run: shellcheck . || true
      - run: find . -type f \( -name "*.sh" -o -name "*.bash" \) -exec shellcheck {} +
      # - uses: koalaman/shellcheck
      - uses: reviewdog/action-shellcheck@v1  # reviewdog: this is not PullRequest build.
      - run: shellcheck --version || true  # v0.8.0, not v0.9.0
      - run: shellcheck . || true
      - uses: sudo-bot/action-shellcheck@latest
        with:
          # https://github.com/koalaman/shellcheck#how-to-use
          cli-args: .
      - uses: bewuethr/shellcheck-action@v2
      # - uses: ludeeus/action-shellcheck@v2
      # - uses: fearphage/shellcheck-action@v0.0.4
