name: itinerant_pytype_on_demand
on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repo to test (user_name/repo_name)'
        required: true

jobs:
  itinerant_pytype_on_demand:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']  # [2.7, 3.5, 3.6, 3.7, 3.8, pypy3]
    runs-on: ubuntu-22.04
    steps:
      - run: echo "$HOME"
      - run: echo "Testing ${{ github.event.inputs.repo }}..."
      # - uses: actions/checkout@v3
      - run: git clone https://github.com/${{ github.event.inputs.repo }}
      # cut: domain_name/repo_name --> repo_name so that S{{ env.repo_directory }} is repo_name
      - run: echo "repo_directory=$(echo ${{ github.event.inputs.repo }} | cut -d'/' -f 2)" >> $GITHUB_ENV
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install --upgrade pip wheel
      - run: pip install mypy pytype   python-memcached pytest
      # The next commands need to 'cd repo_name' to work correctly
      - name: pip install -r requirements.txt || pip install --editable . || pip install . || true
        run: |
          cd ${{ env.repo_directory }}
          pip install -r requirements.txt || pip install --editable . || true
      - name: mypy --ignore-missing-imports --install-types --non-interactive . || true
        run: |
          cd ${{ env.repo_directory }}
          mkdir -p .mypy_cache
          mypy --ignore-missing-imports --install-types --non-interactive . || true
      - run: pytype --help
      - run: |
          cd ${{ env.repo_directory }}
          ls -Fla
          pip install types-all
          pytype . --jobs auto --keep-going --platform linux --exclude **/__init__.py **/_init_path.py **/app.py **/bootstrap.py **/dbstore.py **//delegate.py **/logreader.py **/markdown.py **/mdx_footnotes.py **/migrate-0.4-0.5.py **/readquery.py **/sequence.py **/server.py **/store.py **/test_*.py
