name: itinerant_setuptools_py2cfg_on_demand
on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'Repo to test (user_name/repo_name)'
        required: true
jobs:
  itinerant_setuptools_py2cfg_on_demand:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Testing ${{ github.event.inputs.repo }}..."
      - uses: actions/checkout@v5
        with:
          repository: ${{ github.event.inputs.repo }}
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install --upgrade pip wheel
      - run: pip install setuptools-py2cfg
      - run: setuptools-py2cfg
      - run: git diff || true
