name: java_versions
on:
  workflow_dispatch:

jobs:
  java_versions:
    strategy:
      fail-fast: false
      matrix:
        java-version: ['8', '11', '21']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-java@v1  # not v2, v3, or v4 for Java 8
        with:
          distribution: 'microsoft'
          java-version: ${{ matrix.java-version }}
      # Java 8 uses a single dash!
      - run: java --version || java -version
