name: lint_python
on: [pull_request, push]
jobs:
  lint_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
      - uses: astral-sh/ruff-action@v3
      - uses: astral-sh/setup-uv@v5
      - uses: actions/setup-python@v5
        with: {python-version: 3.x}
      - run: pip install --upgrade pip ruff setuptools wheel
      - name: "Ruff: Show stopper (must-fix) issues"
        run: ruff check --select=E9,F63,F7,F82,PLE,YTT --output-format=full .
      - name: "Ruff: All issues"
        run: ruff check --exit-zero --select=ALL --statistics --target-version=py37 .
      - name: "Ruff: All fixable (ruff --fix) issues"
        run: ruff check --exit-zero --select=ALL --ignore=ANN204,COM812,ERA001,RSE102,RUF001
                  --statistics --target-version=py37 . | grep "\[\*\]"
      - run: pip install black codespell mypy pytest safety
      - run: black --check . || true
      - run: codespell || true  # --ignore-words-list="" --skip="*.css,*.js,*.lock"
      - run: pip install -r requirements.txt || pip install --editable . || pip install . || true
      - run: mkdir --parents --verbose .mypy_cache
      - run: mypy --ignore-missing-imports --install-types --non-interactive . || true
      - run: pytest . || true
      - run: pytest --doctest-modules . || true
      - run: safety check || true
