name: pip_install_on_py3_x
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  pip_install_on_py3_x:
    strategy:
      fail-fast: false
      matrix:
        module:
          #- PyWavelets
          #- git+https://github.com/PyWavelets/pywt.git
          #- scikit-image
          #- scikit-fuzzy
          #- symengine
          #- qiskit
          #- git+https://github.com/Qiskit/qiskit.git
          - tensorflow
          #- git+https://github.com/tensorflow/tensorflow.git
          # - django-haystack
          # - pysolr
          - pyproject_api
          - celery
          - django-celery-beat
          - pyproject_hooks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.x
    #- run: pip install ${{ matrix.module }}
    #- run: pip uninstall -y ${{ matrix.module }}
    - run: pip install --upgrade pip
    - run: pip install django ${{ matrix.module }}
    - if: ${{ matrix.module }} == "django-haystack"
      shell: python
      run: |
          import django
          print(django.__version__)
          import haystack
          print(haystack.__version__)
    - if: ${{ matrix.module }} == "pysolr"
      shell: python
      run: |
          import pysolr
          print(pysolr.__version__)
