name: pip_install_on_py3_x
on:
  push:
    paths:
      - 'pip_install_on_py3_x.yml'
  pull_request:
    paths:
      - 'pip_install_on_py3_x.yml'
  workflow_dispatch:
jobs:
  pip_install_on_py3_x:
    strategy:
      fail-fast: false
      matrix:
        module:
          #- PyWavelets
          #- git+https://github.com/PyWavelets/pywt.git
          #- scikit-image
          #- scikit-fuzzy
          #- symengine
          #- qiskit
          #- git+https://github.com/Qiskit/qiskit.git
          - tensorflow
          # - git+https://github.com/tensorflow/tensorflow.git
          # - django-haystack
          # - pysolr
          - pyproject_api
          - celery
          - greenlet
          - h5py
          - keras
          - lxml
          # - django-celery-beat
          - pyproject_hooks
          - Pillow
          # - cssbeautifier
          - wave
          - MySQL-python
          - dronecan
          - ament-black
          - ament-clang-tidy
          - ament-lint
          - ament-lint-cmake-py
          - ament-lint-flake8
          - ament-lint-pep257
          - ament-mypy
          - ament-pycodestyle
          - ament-style-uncrustify
          - ament-xmllint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: 3.14
        allow-prereleases: true
    - if: matrix.module == 'h5py' || matrix.module == 'keras' 
      run:
          sudo apt-get update && sudo apt-get install -y libhdf5-dev
    - if: matrix.module == 'lxml'
      run:
          sudo apt-get update && sudo apt-get install -y libxml2-dev libxslt-dev
    - if: matrix.module == 'Pillow'
      run:
          sudo apt-get update && sudo apt-get install -y libtiff5-dev libjpeg8-dev libopenjp2-7-dev
          zlib1g-dev libfreetype6-dev liblcms2-dev libwebp-dev tcl8.6-dev tk8.6-dev python3-tk
          libharfbuzz-dev libfribidi-dev libxcb1-dev
    #- run: pip install ${{ matrix.module }}
    #- run: pip uninstall -y ${{ matrix.module }}
    - run: pip install --upgrade pip
    - run: pip install ${{ matrix.module }}
    #- if: ${{ matrix.module }} == 'django-haystack'
    #  shell: python
    #  run: |
    #      import django
    #      print(django.__version__)
    #      import haystack
    #      print(haystack.__version__)
    #- if: ${{ matrix.module }} == 'pysolr'
    #  shell: python
    #  run: |
    #      import pysolr
    #      print(pysolr.__version__)
