# https://github.com/actions/setup-python
name: pypy_version
on: [pull_request, push]
jobs:
  pypy_version:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [pypy3, '>pypy-3.10-v7.3.13']  # Does not work!
        # python-version: [pypy3.10, pypy-3.10, pypy3.10-v7.3.14, pypy-3.10-v7.3.14]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: pypy3 --version
