name: pytest_xfail_on_ci
on:
  workflow_dispatch:
jobs:
  pytest_xfail_on_ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install --upgrade pip wheel
      - run: pip install pytest
      - run: env
      - run: env | grep ci
      - run: env | grep CI
      - run: pytest --doctest-modules test_pytest_xfail_on_ci.py
