# https://github.com/actions/setup-python/blob/main/docs/advanced-usage.md#using-the-python-version-file-input
# https://raw.githubusercontent.com/actions/python-versions/main/versions-manifest.json
name: python_version
on: [pull_request, push]
jobs:
  get_python_version:
    runs-on: ubuntu-latest
    outputs:
      PYVERSION: ${{ steps.get_python_version.outputs.PYVERSION }}
    steps:
      - uses: actions/checkout@v3
      - id: get_python_version
        run: |
          echo "PYVERSION=$(git grep 'export PYVERSION ?=' Makefile.envs | cut -d' ' -f4)"  >> "$GITHUB_OUTPUT"
  needs_get_python_version:
    runs-on: ubuntu-latest
    needs: get_python_version
    steps:
      - env:
          PYVERSION: ${{ needs.get_python_version.outputs.PYVERSION }}
        run: echo "$PYVERSION"
      - name: "Name is Python $PYVERSION"
        env:
          PYVERSION: ${{ needs.get_python_version.outputs.PYVERSION }}
        run: echo "$PYVERSION"
      # - env:
      #    PYVERSION: ${{ needs.get_python_version.outputs.PYVERSION }}
      - name: Setup Python  ${{ needs.get_python_version.outputs.PYVERSION }}"
        uses: actions/setup-python@v4
        with:
          python-version: ${{ needs.get_python_version.outputs.PYVERSION }}
