name: python_3_11-dev
on:
  workflow_dispatch:
jobs:
  python_3_11-dev:
    strategy:
      fail-fast: false
      matrix:
        package:
          - cchardet  # Passes if cython>=0.29.30
          - frozenlist  # Fails
          - yarl  # Fails
          - git+https://github.com/PyYoshi/cChardet.git  # Passes!!!
          - git+https://github.com/aio-libs/frozenlist.git  # Fails
          - git+https://github.com/aio-libs/yarl.git  # Fails
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11-dev
      - run: python3.11 -m pip install --upgrade pip wheel
      - run: python3.11 -m pip install --upgrade cython>=0.29.32
      - run: python3.11 -m pip install ${{ matrix.package }}
