# https://beta.ruff.rs
name: ruff
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: pip install --user codespell[toml] ruff
    - run: codespell || true  # --ignore-words-list="" --skip="*.css,*.js,*.lock,*.po"
    - run: ruff check --output-format=github --select=E9,F63,F7 --target-version=py37 .
    - run: ruff check --output-format=github --select=E9,F63,F7,F82 --target-version=py37 .
    - run: ruff check --output-format=github --line-length=200 --target-version=py37 .
    - run: ruff check --output-format=github --target-version=py37 .
