name: tox_free_threaded
on:  # [push, pull_request]
  push:
    paths:
      - '.github/workflows/tox_free_threaded.yml'
      - 'tox.ini'
  pull_request:
    paths:
      - '.github/workflows/tox_free_threaded.yml'
      - 'tox.ini'
  workflow_dispatch:
jobs:
  tox-jobs:
    strategy:
      fail-fast: false
      matrix:
        job: [lint, docs-lint, pycodestyle]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14t
          allow-prereleases: true
          # cache: 'pip'  # Only use if there are requirements.txt files
      - run: pip install --upgrade pip
      - run: pip install tox
      - run: tox -e ${{ matrix.job }}

  tox:
    strategy:
      fail-fast: false
      # max-parallel: 4
      matrix:
        os: [ubuntu-latest]  # [macos-latest, ubuntu-latest, windows-latest]
        python: ['3.14', '3.14t']
        tox-gh-actions: ['', 'tox-gh-actions']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true
          # cache: 'pip'
          #python-version: |
          #  3.10
          #  3.11
          #  3.12
          #  3.13
            # 3.14
      - run: python3 --version && python --version
      - run: pip install --upgrade pip
      - run: pip install tox ${{ matrix.tox-gh-actions }}
      - run: tox -e py  # tox-gh-actions dislikes the '-e py'
      - run: tox
      #- run: tox -e py310
      #- run: tox -e py311
      #- run: tox -e py312
      #- run: tox -e py313
      #- run: tox -e py314
      #- run: tox -e ALL

  tox_gh_one:
    strategy:
      fail-fast: false
      matrix:
        env: ["3.14t", "3.14", "3.13", "3.12"]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Install tox
        run: uv tool install --python-preference only-managed --python 3.14 tox --with tox-uv --with tox-gh
      - name: Install Python
        if: matrix.env != '3.14'
        run: uv python install --python-preference only-managed ${{ matrix.env }}
      - name: Setup test suite
        run: tox run -vv --notest --skip-missing-interpreters false
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.env }}
      - name: Run test suite
        run: tox run --skip-pkg-install
        env:
          TOX_GH_MAJOR_MINOR: ${{ matrix.env }}
